.cabeçalho{
    margin: 0px;
    padding: 0px;
    background-color:#4682B4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    }

.todo-corpo{
    background-color: #87CEFA;
}

.body{
    justify-content: space-around;
    flex: center;
    align-items: center;
    display: flex;
    background-color: #87CEFA;
}

.div-imagem-p1 {
    background-color: #87CEFA;
    size-adjust: 15px;
    justify-content: center;
    align-items: end;
}