.titulo-corpo{
    background-color: #000;
    color: white;
    text-align: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.body{
  box-shadow: inset;

}